@import "../../theme/variables";

.navbar {
  background-color: rgba($dark, 0.9);
  height: $navbar-height;
  position: fixed;
  width: 100vw;
  * {
    :hover,
    :active {
      text-decoration: none;
    }
  }
  a {
    color: white;
  }
  .active {
    color: $primary;
  }
  .navbar-brand a {
    color: $primary;
  }
  .dropdown-item:active {
    color: white;
    background-color: $secondary;
  }

  .logo {
    max-height: 40px;
  }
}
