@import "../../../ui/theme/variables.scss";

body {
  min-height: 100vh;
  background-color: #333333 !important;
}

input {
 &.form-control {
   border-radius: 0;
 }
}

.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

div.dropdown-menu {
  border-radius: 0;
  background-color: $dark;
  border: solid 1px $secondary;

  button {
    color: white;
    transition-duration: 0.2s;
    &:hover {
      color: $primary;
      cursor: pointer;
      background-color: transparent;
    }
    i {
      margin-right: 1rem;
    }
  }
}

span.dropdown-toggle {
  color: white;
}