@import "../../theme/variables";

.landing-page {
  display: flex;
  background: url("images/popsignuptwoweeks.jpg")  repeat 0 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 44px;
  h1 {
    color: white;
  }
}
